<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Fancy Town</title>
    <link rel="stylesheet" href="/static/css/scss.css">
    <link rel="stylesheet" href="/static/css/AD.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
{% include "navbar.html" %}

<section id="landingPageBannerSection">
    <div class="container">
        <div class="contentContainer">
            <div class="scrollDiv">
                <div class="carouselContainer">

                    <div class="items">
                        <img class="itemImage" src="/static/images/bannerImage1.jpg" alt="">
                    </div>

                    <div class="items">
                        <img class="itemImage" src="/static/images/bannerImage2.jpg" alt="">
                    </div>

                    <div class="items">
                        <img class="itemImage" src="/static/images/bannerImage3.jpg" alt="">
                    </div>


                </div>  
            </div>
        </div>
    </div>
</section>
<script src="/static/js/homePage.js"></script>
<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</body>
</html>