<section id="navbarSection">
    <div class="CategoryDropDown" id="CategoryDropDownId">
        <div class="dropDownContainer">
            <ul class="dropdownUl">
                <li class="subCategoryLinks categoryLinkHeading"><strong>Sofa</strong></li>
                <li class="subCategoryLinks AD-flex">
                    <span class="categoryImageSpan"><img class="categoryImage" src="/static/images/SectionSofa.jpg" alt=""></span>
                    <span>Sectional Sofa</span>
                </li>
                <li class="subCategoryLinks AD-flex">
                    <span class="categoryImageSpan"><img class="categoryImage" src="/static/images/HighBackSofa.jpeg" alt=""></span>
                    <span>High back Sofa</span>
                </li>

                <li class="subCategoryLinks AD-flex">
                    <span class="categoryImageSpan">
                        <img class="categoryImage" src="/static/images/SetteeSofa.jpeg" alt=""></span>
                    <span>Wing back Sofa</span>
                </li>
                <li class="subCategoryLinks AD-flex">
                    <span class="categoryImageSpan">
                        <img class="categoryImage" src="/static/images/RollBackSofa.webp" alt="">
                    </span>
                    <span>Roll back Sofa</span>    
                </li>
                <li class="subCategoryLinks AD-flex">
                    <span class="categoryImageSpan">
                        <img class="categoryImage" src="/static/images/SetteeSofa.jpeg" alt="">
                    </span>
                    <span>Settee Sofa</span>
                </li>
                <li class="subCategoryLinks AD-flex">
                    <span class="categoryImageSpan">
                        <img class="categoryImage" src="/static/images/RollBackSofa.webp" alt="">
                    </span>
                    <span>Divan Sofa</span>
                </li>
            </ul>
            <ul class="dropdownUl">
                <li class="subCategoryLinks categoryLinkHeading"><strong>Chair</strong></li>
                <li class="subCategoryLinks">Arm chair</li>
                <li class="subCategoryLinks">Wing chair</li>
                <li class="subCategoryLinks">Ottomans chair</li>
                <li class="subCategoryLinks">Accent chair</li>
            </ul>
            <ul class="dropdownUl">
                <li class="subCategoryLinks categoryLinkHeading"><strong>Stools & Pouffes</strong></li>
                <li class="subCategoryLinks">Foot stools</li>
                <li class="subCategoryLinks">Seating stools</li>
                <li class="subCategoryLinks">Pouffes stools</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="contentContainer AD-flex">
            <div class="logoDiv">
                <img src="/static/images/TFT.png" alt="" class="logoImage">
            </div>

            <div class="menuUl AD-flex" id="navMenu">
                <a href="" class="menuLi">Home</a>
                <a class="menuLi categoryLink AD-flex" onclick="showDropDownCategory()">
                    <span>Category</span>
                    <span class="arrow AD-flex" id="leftArrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 156 84" fill="none">
                            <path d="M10.714 81.599C9.53272 82.7672 7.93837 83.4224 6.277 83.4224C4.61562 83.4224 3.02127 82.7672 1.84 81.599C1.25721 81.0257 0.794356 80.3422 0.478413 79.5882C0.162469 78.8343 -0.000244141 78.025 -0.000244141 77.2075C-0.000244141 76.39 0.162469 75.5807 0.478413 74.8268C0.794356 74.0728 1.25721 73.3893 1.84 72.816L73.54 1.824C74.7213 0.655769 76.3156 0.000549316 77.977 0.000549316C79.6384 0.000549316 81.2327 0.655769 82.414 1.824L154.114 72.816C154.696 73.39 155.157 74.0737 155.473 74.8276C155.788 75.5814 155.95 76.3904 155.95 77.2075C155.95 78.0246 155.788 78.8336 155.473 79.5874C155.157 80.3413 154.696 81.025 154.114 81.599C152.934 82.7678 151.341 83.4236 149.68 83.4236C148.019 83.4236 146.426 82.7678 145.246 81.599L77.972 16.851L10.714 81.599Z" fill="black"/>
                            </svg>
                    </span>
                </a>
                <a href="" class="menuLi">Blog</a>
                <a href="" class="menuLi">Service</a>
                <a href="" class="menuLi">Trending</a>
                <!-- <span class="xMark" onclick="closeMenu()">
                        <i class="fa-solid fa-xmark"></i>
                    </span> -->
            </div>

            <div class="otherContentDiv AD-flex">
                <div class="buttonDiv AD-flex">
                    <button class="btn">Log in</button>
                    <button class="btn">Sign up</button>
                </div>

                <div class="virticalLine">

                </div>

                <div class="iconDiv AD-flex">
                    <span class="wishlistIcon AD-flex">
                        <lord-icon src="https://cdn.lordicon.com/rjzlnunf.json" trigger="hover"
                            colors="primary:#121331,secondary:#08a88a">
                        </lord-icon>
                    </span>
                    <span class="cartIcon AD-flex">
                        <lord-icon src="https://cdn.lordicon.com/ggihhudh.json" trigger="hover"
                            colors="primary:#109173,secondary:#0a5c49,tertiary:#30e8bd">
                        </lord-icon>
                    </span>
                </div>

                <span class="hamburgerIcon" onclick="showMenu()">
                    <i class="fa-solid fa-bars"></i>
                </span>
            </div>
        </div>
    </div>
</section>